$font-text: 'Courier New', Courier, monospace;

$header-text-color: white;
$info-text-color: white;
$login-header-text-color: white;
$border-color: lightgray;

$header-background-color: #3186AD;
$info-background-color: #3186AD;
$login-header-background-color: #3186AD;
$login-background-color: white;
$button-color: #3186AD;
$button-border-color: white;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
